@page
@model OrdersModel
@{
    ViewData["Title"] = "Orders";
}

<div class="text-center">
    <h1 class="display-4">Orders list</h1>
    <p>Here you can see all list of orders</p>
</div>


<div class="table">
    <table class="order-table">
        <thead>
            <tr>
                <th colspan="2" bgcolor="#FBF0DB">ORDERS</th>
            </tr>
            <tr>
                <td>User</td>
                <td>Order №</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Petrov</td>
                <td align="right">1</td>
            </tr>
            <tr>
                <td>Ivanov</td>
                <td align="right">2</td>
            </tr>
            <tr>
                <td>Sidorov</td>
                <td align="right">3</td>
            </tr>
        </tbody>
    </table>
</div>